.bgMain {
  background-image: url("../../public/game-image.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* ajusta dinamicamente */
}

.bgMain2 {
  background-image: url("../../public/2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* ajusta dinamicamente */
}

.bgMain3 {
  background-image: url("../../public/3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* ajusta dinamicamente */
}
